form {
  display: flex;
  flex-direction: column;
  @include font(20px);
  font-weight: 500;
  width: 100%;
  .form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  label {
    font-size: 20px;
    letter-spacing: 0;
    margin-bottom: 4px;
  }
  input {
    box-sizing: border-box;
    height: 52px;
    padding: 0 rhythm(2);
    border: 2px solid $dark;
    border-radius: 8px;
    font-weight: 500;
    transition: all .5s;
    &:focus {
      outline: none;
      border: 2px solid $primary;
    }
  }
  a {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
  }
}

.form-row-2 {
  >* {
    width: calc((100% - #{rhythm(2)})/2);
  }
  margin-bottom: 24px;
}

.form-row-3 {
  >* {
    width: calc((100% - #{rhythm(4)})/3);
  }
}
