@import 'normalize';
@import 'transition';
@import 'utils';
html {
  color: $dark;
  background-color: $light;
  font-family: 'Roboto';
}

#app {
  max-width: rhythm(46);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  >* {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  h1 {
    font-size: 48px;
    text-align: center;
    font-weight: lighter;
    margin: 0;
  }
  h3 {
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 24px;
  }
}

@import 'form';
