@import 'normalize';
@import 'transition';
@import 'utils';
html {
  color: $primary;
  background-color: $light;
  font-family: 'Roboto';
}

#app {
  max-width: rhythm(46);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
