@import '../../assets/style/utils';
.nextButton {
  .btn {
    background: $primary;
    border: 2px solid $primary;
    border-radius: 8px;
    height: 52px;
    font-weight: 400;
    color: $light;
    cursor: pointer;
    transition: all .5s;
    width: 100%;
    &:disabled {
      background: $secondary;
      border: 2px solid $secondary;
      cursor: not-allowed;
    }
    &:focus,
    &:hover {
      outline: none;
      box-shadow: 0px 2px 1px adjust-color($color: $dark, $lightness: 30%);
    }
    &:active {
      outline: none;
      border-radius: 8px;
      box-shadow: 0px 0px 1px adjust-color($color: $dark, $lightness: 30%);
    }
  }
}
